<div class="container-fluid" id="loading">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <center class="margin-top-20">
                <img src="/images/ripple.gif">
            </center>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark d-none" id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><b>UECC</b></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><b id="user"></b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/"><b>Inicio</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margin-l-full" href="/admin/login"><b>Salir</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-5">
            <form class="margin-top-20 bg-light p-3 radius">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger d-none" id="alert-danger"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success d-none" id="alert-success"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="codigo"><b>Codigo de Materia</b></label>
                        <input type="text" class="form-control" id="codigo">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="grado"><b>Grado</b></label>
                        <select id="grado" class="form-control">
                            <option value="">Seleccione..</option>
                            <option value="1er">Primer Año</option>
                            <option value="2do">Segundo Año</option>
                            <option value="3er">Tercer Año</option>
                            <option value="4to">Cuarto Año</option>
                            <option value="5to">Quinto Año</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="nombre"><b>Nombre de la Materia</b></label>
                        <input type="text" id="nombre" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 offset-8 pl-4">
                        <button class="btn btn-primary" id="btnCrearMateria"><b>Crear Materia</b></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-7 mt-1">
            <div class="bg-light p-3 radius">
                <table id="table" class="table table-striped">
                    <thead class="thead-dark">
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Grado</th>
                    </thead>
                    <tbody id="tbodyTabla">
                        <tr id="tableLoading">
                            <td colspan="4">
                                <center>
                                    <img src="/images/ripple.gif" class="full">
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var token = window.localStorage.getItem('token');
    var user = window.localStorage.getItem('user');
    var btnCrearMateria = document.getElementById('btnCrearMateria');

    btnCrearMateria.addEventListener('click', (e) => {
        e.preventDefault();
        if($('#codigo').val() == '' || $('#nombre').val() == '' && $('#grado').val() == '') {
            $('#alert-danger').removeClass('d-none');
            $('#alert-danger').text('Por favor rellena los campos faltantes.');
        } else {
            $('#alert-danger').addClass('d-none');
            var data = {
                codigo: $('#codigo').val(),
                nombre: $('#nombre').val(),
                grado: $('#grado').val()
            };
            if($('#table').attr('table')) {
                var table = $('#table').DataTable();
                table.destroy();
            }
            axios.post('/admin/agregar-materia', data).then( res => {
                console.log(res.data);
                var data = res.data;
                if(data.code == 402) {
                    $('#alert-danger').removeClass('d-none');
                    $('#alert-danger').text(data.msg);
                } else if(data.code == 200) {
                    $('#alert-danger').addClass('d-none');
                    $('#alert-success').removeClass('d-none');
                    $('#alert-success').text(data.msg);
                    $('#tbodyTabla tr').remove();
                    $('#tbodyTabla').append(`<tr id="tableLoading">
                                                <td colspan="4">
                                                    <center>
                                                        <img src="/images/ripple.gif" class="full">
                                                    </center>
                                                </td>
                                            </tr>`);
                    axios.get('/admin/agregar-materia/buscar').then( res => {
                        console.log(res.data);
                        var data = res.data;
                        if(data.materias != null) {
                            $('#tableLoading').remove();
                            $('#alert-success').addClass('d-none');
                            $.each(data.materias, (i, materia) => {
                                $('#tbodyTabla')
                                    .append(`<tr>
                                                <td>${i++}</td>
                                                <td>${materia.codigo}</td>
                                                <td>${materia.nombre}</td>
                                                <td>${materia.grado} Año</td>
                                            </tr>`);
                            });
                            $('#table').attr('table', 'table');
                            $('#table').DataTable();
                        } else {
                            $('#table').removeAttr('table');
                            $('#tableLoading').remove();
                            $('#tbodyTabla').append('<tr><td colspan="4"><b>No hay datos.</b></td></tr>');
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
                }
            })
            .catch(err => {
                console.log(err);
            });
        }
    });
    if(!token) {
        window.location.href = '/admin/login';
    } else {
        window.setTimeout(() =>{ 
            $('#loading').addClass('d-none');
            $('#content').removeClass('d-none');
            $('#user').text(user);
            axios.get('/admin/agregar-materia/buscar').then( res => {
                console.log(res.data);
                var data = res.data;
                if(data.materias != null) {
                    $('#tableLoading').remove();
                    $.each(data.materias, (i, materia) => {
                        $('#tbodyTabla')
                            .append(`<tr>
                                        <td>${i++}</td>
                                        <td>${materia.codigo}</td>
                                        <td>${materia.nombre}</td>
                                        <td>${materia.grado} Año</td>
                                    </tr>`);
                    });
                    $('#table').attr('table', 'table');
                    $('#table').DataTable();
                } else {
                    $('#table').removeAttr('table');
                    $('#tableLoading').remove();
                    $('#tbodyTabla').append('<tr><td colspan="4"><b>No hay datos.</b></td></tr>');
                }
            })
            .catch(err => {
                console.log(err);
            });
        }, 2000);
    }

</script>