<!DOCTYPE html>
<html>
  <head>
    <title>UECC</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/jquery.dataTables.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.css"> --}}
  </head>
  <body>
    {{{body}}}

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.dataTables.js"></script>
  {{!-- <script src="/javascripts/dataTables.bootstrap.js"></script> --}}
  <script src="/javascripts/axios.min.js"></script>
  </body>
</html>
